In [1]:
import pandas as pd
import numpy as np

In [63]:
df = pd.read_csv('data.csv')

In [64]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [65]:
# Question 1

np.__version__

'1.21.5'

In [66]:
# Question 2

df.describe()

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,11914.000000,11845.00000,11884.000000,11908.000000,11914.000000,11914.000000,11914.000000,1.191400e+04
mean,2010.384338,249.38607,5.628829,3.436093,26.637485,19.733255,1554.911197,4.059474e+04
std,7.579740,109.19187,1.780559,0.881315,8.863001,8.987798,1441.855347,6.010910e+04
min,1990.000000,55.00000,0.000000,2.000000,12.000000,7.000000,2.000000,2.000000e+03
25%,2007.000000,170.00000,4.000000,2.000000,22.000000,16.000000,549.000000,2.100000e+04
50%,2015.000000,227.00000,6.000000,4.000000,26.000000,18.000000,1385.000000,2.999500e+04
75%,2016.000000,300.00000,6.000000,4.000000,30.000000,22.000000,2009.000000,4.223125e+04
max,2017.000000,1001.00000,16.000000,4.000000,354.000000,137.000000,5657.000000,2.065902e+06

In [67]:
# Question 3

df.groupby('Make').count().sort_values(['Year'], ascending=False)

,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
Make,,,,,,,,,,,,,,,
Chevrolet,1123,1123,1123,1117,1121,1123,1123,1123,622,1123,1123,1123,1123,1123,1123
Ford,881,881,881,868,881,881,881,881,499,881,881,881,881,881,881
Volkswagen,809,809,809,809,805,809,809,809,585,809,809,809,809,809,809
Toyota,746,746,746,744,745,746,746,746,303,746,746,746,746,746,746
Dodge,626,626,626,626,626,626,626,626,320,626,626,626,626,626,626
Nissan,558,558,558,548,558,558,558,558,318,558,558,558,558,558,558
GMC,515,515,515,515,515,515,515,515,270,515,515,515,515,515,515
Honda,449,449,449,447,449,449,449,449,284,449,449,449,449,449,449
Mazda,423,423,423,423,403,423,423,423,259,423,423,423,423,423,423
Cadillac,397,397,397,397,397,397,397,397,397,397,397,397,397,397,397
Mercedes-Benz,353,353,353,352,353,353,353,353,353,353,353,353,353,353,353
Suzuki,351,351,348,351,351,351,351,351,99,351,351,351,351,351,351
BMW,334,334,334,334,334,334,334,334,334,334,334,334,334,334,334
Infiniti,330,330,330,330,330,330,330,330,330,330,330,330,330,330,330
Audi,328,328,328,328,328,328,328,328,328,328,328,328,328,328,328
Hyundai,303,303,303,303,303,303,303,303,214,303,303,303,303,303,303
Volvo,281,281,281,281,281,281,281,281,281,281,281,281,281,281,281
Subaru,256,256,256,256,256,256,256,256,214,256,256,256,256,256,256
Acura,252,252,252,252,252,252,252,252,252,252,252,252,252,252,252
Kia,231,231,231,226,231,231,231,231,109,231,231,231,231,231,231
Mitsubishi,213,213,213,212,210,213,213,213,128,213,213,213,213,213,213
Lexus,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202
Buick,196,196,196,196,196,196,196,196,125,196,196,196,196,196,196
Chrysler,187,187,187,187,187,187,187,187,108,187,187,187,187,187,187
Pontiac,186,186,186,186,186,186,186,186,77,186,186,186,186,186,186
Lincoln,164,164,164,156,164,164,164,164,164,164,164,164,164,164,164
Oldsmobile,150,150,150,150,150,150,150,150,3,150,150,150,150,150,150
Land Rover,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143
Porsche,136,136,136,136,136,136,136,136,136,136,136,136,136,136,136
Saab,111,111,111,111,111,111,111,111,111,111,111,111,111,111,111
Aston Martin,93,93,93,93,93,93,93,93,93,93,93,93,93,93,93
Plymouth,82,82,82,82,82,82,82,82,39,82,82,82,82,82,82
Bentley,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74
Ferrari,69,69,69,69,69,69,69,68,69,69,69,69,69,69,69
FIAT,62,62,62,59,62,62,62,62,41,62,62,62,62,62,62
Scion,60,60,60,60,60,60,60,60,48,60,60,60,60,60,60
Maserati,58,58,58,58,58,58,58,58,58,58,58,58,58,58,58
Lamborghini,52,52,52,52,52,52,52,52,52,52,52,52,52,52,52
Rolls-Royce,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31
Lotus,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29
Tesla,18,18,18,0,18,18,18,13,18,18,18,18,18,18,18
HUMMER,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
Maybach,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16
McLaren,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
Alfa Romeo,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
Spyker,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
Bugatti,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
Genesis,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3

In [68]:
# Question 4

df.groupby('Make')['Model'].nunique()

Make
Acura            18
Alfa Romeo        1
Aston Martin     12
Audi             34
BMW              39
Bentley          18
Bugatti           1
Buick            20
Cadillac         30
Chevrolet        63
Chrysler         19
Dodge            33
FIAT              5
Ferrari          14
Ford             51
GMC              30
Genesis           1
HUMMER            2
Honda            21
Hyundai          22
Infiniti         38
Kia              16
Lamborghini       6
Land Rover       11
Lexus            46
Lincoln          16
Lotus             5
Maserati          8
Maybach           3
Mazda            31
McLaren           4
Mercedes-Benz    40
Mitsubishi       22
Nissan           32
Oldsmobile       18
Plymouth         10
Pontiac          20
Porsche          12
Rolls-Royce      10
Saab              8
Scion             8
Spyker            1
Subaru           16
Suzuki           16
Tesla             1
Toyota           39
Volkswagen       31
Volvo            26
Name: Model, dtype: int64

In [69]:
# Question 5

df.isna().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [70]:
# Question 6

df['Engine Cylinders'].median()

6.0

In [71]:
df['Engine Cylinders'].mode()

0    4.0
Name: Engine Cylinders, dtype: float64

In [73]:
df['Engine Cylinders'].fillna(4, inplace = True)

In [74]:
df['Engine Cylinders'].median()

6.0

In [84]:
# Question 7

lotdf = df[
    df['Make']  == 'Lotus'
]

In [87]:
lotdf[['Engine HP', 'Engine Cylinders']]

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3914      189.0               4.0
3915      189.0               4.0
3916      218.0               4.0
3917      189.0               4.0
3918      217.0               4.0
3919      217.0               4.0
4216      350.0               8.0
4217      350.0               8.0
4218      350.0               8.0
4257      400.0               6.0
4258      400.0               6.0
4259      276.0               6.0
4260      276.0               6.0
4261      276.0               6.0
4262      345.0               6.0
4263      345.0               6.0
4264      276.0               6.0
4265      345.0               6.0
4266      276.0               6.0
4267      345.0               6.0
4268      276.0               6.0
4292      257.0               4.0
4293      240.0               4.0
4294      240.0               4.0
4295      240.0               4.0
4296      257.0               4.0
4297      257.0               4.0

In [92]:
X = lotdf[['Engine HP', 'Engine Cylinders']].drop_duplicates()

In [93]:
X

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [94]:
C = X

In [126]:
X = C

In [127]:
X

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [128]:
X_T = X.T

In [153]:
XTX = X_T.dot(X)

In [154]:
XTX

                  Engine HP  Engine Cylinders
Engine HP          731684.0           13410.0
Engine Cylinders    13410.0             252.0

In [155]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [156]:
XTX_inv = np.linalg.inv(XTX)

In [157]:
XTX_inv

array([[ 5.53084235e-05, -2.94319825e-03],
       [-2.94319825e-03,  1.60588447e-01]])

In [158]:
u = XTX_inv.dot(X_T)

In [160]:
w = u.dot(y)

In [161]:
w

array([  4.59494481, -63.56432501])